.btn-connexion{
    background-color: #ff685f !important;
    border-radius: 10px !important;
    text-align: center !important;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none ;
}